  {{#each plainPosts}}
  <div class="card mx-auto mb-2 posts">
  <div class="card-title mb-0">
    <a href="/post/{{ id }}">{{ postTitle }}</a>
    <div class="float-right date">
      Posted by {{ user.name }} on {{format_date createdAt}}
    </div>
  </div>
  <div class="card-body">{{ postText }}</div>
</div>
  {{/each}}