<div class="card mx-auto" style="width: 90vw">
  {{#each plainPosts}}
  <div class="card-title mb-0" style="background-color: beige; font-size: 22px">
    <a class="Blog-Post" href="/post/{{ id }}">{{ postTitle }}</a>
    <div class="float-right">
      Posted by {{ user.name }} on {{format_date createdAt}}
    </div>
  </div>
  <div class="card-body" style="background-color: bisque">{{ postText }}</div>
  {{/each}}
</div>
