  {{#if loggedIn}}
<div class="card mb-2 mx-auto posts" id="postid" data-id="{{plainPosts.id}}">
  <div class="card-title mb-0 pl-2">
    {{ plainPosts.postTitle }}
    <div class="float-right">
      Posted by {{ plainPosts.user.name }} on {{format_date plainPosts.createdAt}}
    </div>
  </div>
  <div class="card-body">{{ plainPosts.postText }}</div>
</div>
{{#each commentsPost}}
<div class="card mb-2 mx-auto posts" style="width: 80vw">
  <div class="card-body">{{ this.text }}    <div class="float-right date">
      Posted by {{ this.user.name }} on {{format_date this.createdAt}}
    </div></div>
</div>
{{/each}}
  <div class="container mt-2" style="border:6px solid #003366; background-color: rgb(201, 200, 200); width: 50vw">
<div class="mb-3">
  <label for="commentText" class="form-label" style="font-size: 22px;">Leave a comment:</label>
  <textarea class="form-control" id="commentText" rows="3"></textarea>
</div>
<div class="text-center">
<button class="btn btn-primary mb-2" id="createComment">Create New Comment +</button>
</div>
</div>
  {{else}}
  <div class="card-title text-center">Unauthorized Access</div>
  <p class="card-text text-center">You need to sign in first</p>
  {{/if}}

